extends layout

block content
    h2.container-fluid Details
        if (session.user)
            form#formSaveMovie(name="saveMovie", method="post", action="/movie/savemovie")
                button#btnSubmit.btn.btn-success(name="id", type="submit", value=id)= locals.isSaved ? "Unsave" : "I've seen this!"
            h4 How would you rate this movie?
            form#formRateMovie(name="rating", method="post", action="/movie/ratemovie")
                input(name="rating", type="number", min="0", max="100", step="1")
                button#btnSubmit.btn.btn-success(name="id", type="submit", value=id) Rate
            if (session.user.isAdmin)
                form#formEditMovie(name="editMovie", method="get", action=id + "/edit")
                    button#btnSubmit.btn.btn-warning(type="submit") Edit Movie
                form#formAddRole(name="addRole", method="get", action=id + "/addRole")
                    button#btnSubmit.btn.btn-warning(type="submit") Add Role
        else
            h3 Log in to save, rate, and review!

        h3 Title
        p= details.title

        h3 Genre
        p= details.genre

        h3 Metascore
        p= details.metascore

        h3 User Rating
        p= details.user_rating

        h3 Views
        p= details.view_count

        h3 Director
        p= details.director_name

        h3 Summary
        p= details.summary

        h3 Roles
        if roles.length == 0
            p No roles in this movie!
        else
            each role in roles
                p #{role.name} - #[a(href="/actor/#{role.id}") #{role.actor}]

        h3 Year Released
        p= details.release_year

        h3 Trailer
        iframe(width="560", height="315", src="https://www.youtube.com/embed/#{details.trailer}?rel=0",
        frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen)

        h3 Reviews
        if (session.user)
            form#formReviewMovie(name="reviewMovie", method="post", action="/movie/reviewMovie")
                .form-a
                    textarea#inputReview.form-control(placeholder="Review", name="review")
                    button#btnSubmit.btn.btn-success(name="id", type="submit", value=id) Review

        if reviews.length == 0
            p No reviews for this movie yet
        else
            each review in reviews
                p #{review.username} wrote: #{review.text}